.answer{
    background-color: var(--white-color);
    padding: 3px 15px 3px 15px;
    margin: 3px;
    margin-left: 30px;
    color: black;
    cursor: pointer;
    border-style: solid;
    border-right:none;
    border-top: none;
    border-bottom: none;
    border-width: 0.3rem;
    border-color:var(--first-color-light);
}
.active{
    border-color:green;
}

.questionBox{
    margin: 50px;
}

.question{
    margin: 10px;
    padding: 3px 10px 3px 10px;
}